<div class="login-form">
  <div class="container">   
    <div class="login-form">
      <div class="main-div">
        <div class="panel">

         <h2>AirBnB - Sign in</h2>

         <!-- Login with google -->
         <!-- First link to birthday box. From there route to google -->
         <%= link_to "Sign in with Google +", "/auth/google_oauth2", class: "btn btn-danger btn-gplus btn-lg" %>                      

       </div>

       <div id="registration-form" class="collapse">
        <%= form_for :user, url: users_path, id: "clearance", class: "sign-in" do |form| %>

        <div class="form-group email-signup">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="session[email]">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="inputFname" placeholder="First Name" name="session[fname]">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="inputLname" placeholder="Family Name" name="session[lname]">
        </div>

        <div class="form-group">
          <input type="date" class="form-control" id="inputBirthdate" placeholder="Date of birth" name="session[birthdate]">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="session[password]">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

        <%end%>  
      </div>

      <%= form_for :session, url: session_path, id: "clearance", class: "sign-in" do |form| %>

      <div class="form-group email-signup">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="session[email]">
      </div>

      <div class="form-group">
       <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="session[password]">
     </div>

     <button type="submit" class="btn btn-primary">Login</button>          

     <% end %>

     <button type="button" style="margin-top: 5%;" class="btn btn-info" data-toggle="collapse" data-target="#registration-form">Register</button>

   </div>
 </div>
</div>
</div>
