<!-- Sign in form -->
<div class="login-form">
   <div class="container">   
      <div class="login-form login-booking">
         <div class="main-div">         

            <div class="panel">
               <h2 style="color: #ff6969; font-size: 25px;"><strong>Air BnB</strong></h2>
               <!-- Login with google -->         
               <%= link_to "Google sign in", "/auth/google_oauth2", class: "btn btn-danger btn-gplus btn-lg btn-block" %>  
            </div>

            <div id="registrationBox" class="register">
               <%= render partial: '/users/register' %>
            </div>   

            <div id="loginBox" class="login">
               <%= render partial: '/sessions/login' %>
            </div>

            <a href="#" id="display-box-trigger" style="margin-top: 5%;" onclick="event.preventDefault();registration_form_display();">Register</a>

         </div>

      </div>
   </div>
</div>





