<!-- Sign in form -->
<div class="login-form">
   <div class="container">   
      <div class="login-form">
         <div class="main-div">         

            <%= render partial: '/users/register' %>

            <%= render partial: '/sessions/login' %>

            <a href="#" style="margin-top: 5%;">or Register</a>

         </div>

      </div>
   </div>
</div>





