
<div class="login-form">
  <div class="container">   
    <div class="login-form">
      <div class="main-div">
        <div class="panel">

          <h2 style="color: #ff6969; font-size: 25px;"><strong>About your property</strong></h2>          

        </div>                

        <%= form_for :user, url: listings_create_path, id: "listings", class: "listings" do |form| %>

        <div class="row" style="margin-top: 2%;">

          <div class="col-sm-12 form-group">
            <label>Describe briefly your property</label>
            <input style="text-align: center;" type="text" class="form-control" id="inputLocation" placeholder="Brief Description" name="user[description]">
          </div>

        </div>

        <div class="row" style="margin-top: 2%;">

          <div class="col-sm-12">
            <label>Address</label>
          </div>

          <div class="col-md-4 form-group">            
            <input style="text-align: center;" type="text" class="form-control" id="inputLocation" placeholder="Street" name="user[street]">
          </div>   

          <div class="col-md-4 form-group">            
            <input style="text-align: center;" type="text" class="form-control" id="inputLocation" placeholder="City" name="user[city]">
          </div>      

          <div class="col-md-4 form-group">            
            <input style="text-align: center;" type="text" class="form-control" id="inputLocation" placeholder="Country" name="user[country]">
          </div>   
        </div>   

        <div class="row" style="margin-top: 2%;">

          <div class="col-md-4 form-group">
            <label for="property-type">Property type</label>          
            <select class="form-control" id="property-type" name="user[property_type]">
              <option>Appartment</option>
              <option>House</option>
              <option>Unique Space</option>            
              <option>Bed and Breakfast</option>            
              <option>Hotel Room</option>            
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="property-scope">Available to guests</label>
            <select class="form-control" id="property-scope" name="user[property_scope]">
              <option>Entire place</option>
              <option>Private room</option>
              <option>Shared room</option>            
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label>Price per night</label>
            <input type="text" class="form-control" id="inputLocation" placeholder="$$$" name="user[price_per_night]">
          </div>   

        </div>

        <!-- Tags -->
        <div class="form-group" style="display: inline-block;">       
          <div class="row justify-content-center" style="margin-top: 2%;">

            <div class="col-sm-12">
              <label>What charactarizes you and your property</label>
            </div>

            <% @tags = generate_tags %>
            <% @tags.each do |tag| %>
            <%= raw tag %>
            <% end %>

          </div>
        </div>

        <!-- Amenities -->
        <div class="form-group" style="display: inline-block;">       
          <div class="row justify-content-center" style="margin-top: 2%;">

            <div class="col-sm-12">
              <label>What amenities are available to guests</label>
            </div>

            <% @tags = generate_amenities %>
            <% @tags.each do |tag| %>
            <%= raw tag %>
            <% end %>

          </div>
        </div>        

        <div class="form-group">
          <%= form.file_field :image %> 
        </div>

        <button type="submit" class="btn btn-primary">Create listing</button>

        <%end%>  
      </div>

    </div>
  </div>
</div>



