<div class="container listings-search-results">
   <div class="row" style="margin-top: 5%;">
      <% @listings.each do |listing| %>
      <%= raw style_listings(listing) %>
      <% end %>
   </div>
</div>
