<h1> These are all of your listings ... </h1>
<!-- Display all user listings here -->
<div class="container listings-search-results">
   <div class="row" style="margin-top: 5%;">      
      <% @listings.each do |listing| %>
      <%= listing.html_safe %>
      <% end %>
   </div>
</div>
