<div class="panel">

   <h2>AirBnB - Sign in</h2>

   <!-- Login with google -->         
   <%= link_to "Sign in with Google +", "/auth/google_oauth2", class: "btn btn-danger btn-gplus btn-lg" %>                      

</div>

<%= form_for :user, url: users_path, id: "clearance", class: "sign-up" do |form| %>

<div class="form-group email-signup">
  <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="user[email]">
</div>

<div class="form-group">
  <input type="text" class="form-control" id="inputFname" placeholder="First Name" name="user[first_name]">
</div>

<div class="form-group">
  <input type="text" class="form-control" id="inputLname" placeholder="Family Name" name="user[last_name]">
</div>

<div class="form-group">
  <input type="date" class="form-control" id="inputBirthdate" placeholder="Date of birth" name="user[birthdate]">
</div>

<div class="form-group">
  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="user[password]">
</div>

<button type="submit" class="btn btn-primary">Register</button>

<%end%>  