<div class="login-form">
 <div class="container">   
  <div class="login-form">
   <div class="main-div">
    <div class="panel">

      <h2>AirBnB - Sign up</h2>

      <!-- Login with google -->
      <form method="post" action="/login">
        <button type="submit" class="btn btn-danger btn-gplus btn-lg"><i class="fa fa-google-plus pr-1"></i> 
          <%= link_to "Sign up with Google +", "/auth/google_oauth2" %>
          
        </button>               
      </form>

    </div>

    <form id="Login">

      <div class="form-group email-signup">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="user[email]">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="inputFname" placeholder="First Name" name="user[fname]">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="inputLname" placeholder="Family Name" name="user[lname]">
      </div>

      <div class="form-group">
        <input type="date" class="form-control" id="inputBirthdate" placeholder="Date of birth" name="user[birthdate]">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="user[password]">
      </div>

      <button type="submit" class="btn btn-primary">Login</button>

    </form>

  </div>
</div>
</div>
</div>


<!-- Sign in form -->
<div id="clearance" class="sign-in">

 <%= render partial: '/users/form' %>

</div>




   <!-- < % if signed_in? %>
   < %= button_to 'Sign out', sign_out_path, method: :delete %>
   < % else %>
   < %= link_to 'Sign in', sign_in_path %>
   < % end %> -->
   <!-- Signed in as: < %= current_user.email %> -->



   <form action="/birthdate_session">
    Birthday (date and time):
    <input type="date" name="user[birthdate]">
    <input type="submit" value="Send">
  </form>







  <div id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
